html, body, #root, #root > div {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-premium-heading {
    font-family: Poppins_700Bold;
    color: #1A1A1A;
  }
  .font-premium-body {
    font-family: Poppins_300Light;
    color: #1A1A1A;
  }
}

